.fa-facebook-f{
    color: blue;
}

.fa-instagram{
    color: brown;
    margin-top:1rem;
}

.fa-twitter{
    color: lightskyblue;
    margin-top: 1rem;
}

.li-1{
    padding-right: 1rem;
}

.li-2{
    padding-right: 1rem;
}

.li-3{
    padding-right: 1rem;
}

.li-4{
    padding-right: 1rem;
}

